{% extends 'layout/base.html' %}
{% load bootstrap5 %}
{% block body %}
  <section class="vh-50 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-8 col-md-4 col-lg-4 col-xl-6">
          <div class="card bg-black text-white btn-outline-primary" style="border-radius: 1rem; color-white;">
            <div class="card-body">
              <div class="mb-md-2 mt-md-3 pb-3">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-dark-50 mb-5">Please login to your account !</p>
                <!--Registration Form-->
                <form action="" method='POST' class='form'>
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Login</button>
                    {% endbuttons %}
                    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}



  